body {
	margin: auto;
	font-family: verdana;
	font-size: 12pt;
	background-color: rgb(235, 217, 217);
	max-width: 760px;
}

header h1 {
	width: 100%;
	font-size: 130%;
	text-align: center;
	color: #1F6795;
	border-bottom: 3px solid #1F6795;
	padding: .5em 0 .5em 0;
	margin-top: 1em;
	margin-bottom: 1em;
	margin-right: auto;
	margin-left: auto;
	font-style: italic;
}

table {
    
    margin: 50px;
	margin-left: 7em;
    font-size: 0.9em;
    min-width: 600px;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
}

tr {
    background-color: rgb(247, 243, 240);
    color:black
}

th,td {
    padding: 3px 3px;
    text-align: center;	
	
}
#error_message {
	display: none;
	width: 700px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	padding: 10px;
	margin-top: 30px;
}

#error_list {
	text-align: left;
}